.questionElement {
    border: 1px dotted black;
}

.qlink {
    text-decoration: none;
    color: blue;
    cursor: pointer;
}

#qtitle {
    width: 70%;
    max-width: 665px;
    height: 40px;
    font-size: 20px
}

#qtext {
    font-size: 14px;
    max-width: 665px;
    width: 70%
}

/* #askquestion {
    display: none;
} */

#qtags,
#quser {
    width: 70%;
    max-width: 665px;
    height: 40px;
    font-size: 16px
}

#postqbutt {
    padding: 6px;
    display: inline-block;
    font-size: medium;
    background-color: cornflowerblue;
    color: white;
    border-color: cornflowerblue;
}

#questioncount {
    display: inline-block;
    width: 50%
}

.questionsort {
    display: inline-block;
    margin:2px
}

.questions {
    border-collapse: collapse;
    padding: 10px;
    width: 100%;
}

.contentheader {
    font-size: x-large;
    font-weight: bold;
    display: inline-block;
}

.qRow {
    border-bottom: 1px dotted black;
}

.qTD {
    padding: 15px;
}

.qtag {
    color:white;
    background-color:grey;
    display:inline-block;
    cursor:copy;
}